<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f5e5d8; /* Ganti warna background sesuai keinginan Anda */
        }

        .container {
            background-color: #ffffff; /* Ganti warna container sesuai keinginan Anda */
            padding: 20px;
            border-radius: 10px; /* Tambahkan border-radius untuk membulatkan sudut container */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Add Recipe</h1>
        <form method="POST" action="{{ url_for('add_recipe') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                <label for="title">Nama:</label>
                {{ form.title(class="form-control", placeholder="Enter recipe title") }}
            </div>

            <div class="form-group">
                <label for="content">Detail Resep:</label>
                {{ form.content(class="form-control", placeholder="Enter recipe content") }}
            </div>

            <div class="form-group">
                <label for="category">Category:</label>
                {{ form.category(class="form-control", placeholder="Enter recipe category") }}
            </div>

            <div class="form-group">
                <label for="image">Image:</label>
                {{ form.image(class="form-control-file") }}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
    <!-- Tombol untuk kembali ke halaman beranda -->
    <a href="{{ url_for('index') }}" class="btn btn-primary">Kembali ke Beranda</a>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
